body
{
	width:100%;
	height:100vh;
	display:flex;
	align-items:center;
	justify-content:center;
}

#form1 
{
	background-color:#ff7777;
	width:35rem;
	height:35rem;
	display:flex;
	align-items:center;
	justify-content:center;
	color:#ff7777;
	flex-direction:column;
	border-radius:20px;
}
#form1:hover
{
	color:#fdd;
} 
